.result-title{
	letter-spacing: .2rem;
	font-size: 1.5rem;
	font-weight: bold;
}
.tutorial{
	z-index: 99999;
	width: 100%;
	height: 100%;
	background-color: white;
	position: absolute;
	text-align: center;
}
.page1, .page2, .page3{
	position: relative;
	text-align: center;
	padding-left: 7vw;
	padding-right: 7vw;
	padding-top: 20vh;
}
.tutorial-image{
	width: 75vw;
}
.tutorial-title{
	font-weight: bold;
	font-size: 1.5rem;
	letter-spacing: .2rem;
}
.tutorial-description{
	font-size: 1rem;
}
.tutorial-button-next{
	color: white;
	background-color: rgb(21,121,7);
	width: 80vw;
	position: fixed;
	bottom: 6vh;
	left: 10vw;
	border: none;
	height: 2rem;
}
.tutorial-button-next:focus{
	outline: none;
}
.tutorial-progress{
	font-size: 1.5rem;
	position: fixed;
	bottom: 11vh;
	left: 0;
	right: 0;
}
#circle1, #circle2, #circle3{
	color: darkgrey;
}
.header-success, .header-warning, .header-danger, .header-info{
	margin-top: 2rem;
	position: absolute;
	height: 1.5rem;
	width: 100vw;
	z-index: 1000;
	color: white;
	text-align: center;
}
.header-success{
	background-color: #5cb85c;
}
.header-warning{
	background-color: #f0ad4e;
}
.header-danger{
	background-color: #d9534f;
}
.header-info{
	background-color: #aaaaaa;
}
.spinner-area{
	position: fixed;
	width:100vw;
	height:100vh;
	background-color: rgba(255,255,255,.2);
	z-index: 1000;	
}
.spinner {
	z-index: 1000;
	width: 100px;
	height: 100px;
	position: absolute;
	left:0; right:0;
	top:0; bottom:0;
	margin:auto;
	max-width:100%;
	max-height:100%;
	overflow:auto;
	background-color: rgb(21,121,7);
	border-radius: 100%;  
	-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
	animation: sk-scaleout 1.0s infinite ease-in-out;
}
.spinner1 {
	width: 220px;
	height: 220px;
	position: absolute;
	left:0; right:0;
	top:0; bottom:0;
	margin:auto;
	max-width:100%;
	max-height:100%;
	overflow:auto;
	background-color: rgb(21,121,7);
	border-radius: 100%;  
	-webkit-animation: sk-scaleout 2.0s infinite ease-in-out;
	animation: sk-scaleout 2.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0) 
	}
	100% {
		-webkit-transform: scale(1.0);
		opacity: 0;
	}
}

@keyframes sk-scaleout {
	0% { 
		-webkit-transform: scale(0);
		transform: scale(0);
	} 100% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
		opacity: 0;
	}
}
.background-light, .background-dark{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -999;
}
.background-dark{
	background: url('../img/text-logo-dark.png') no-repeat center fixed;
	background-size : 100vw;
}
.background-light{
	background: url('../img/text-logo.png') no-repeat center fixed;
	background-size : 100vw;
}
.hidden{
	display: none;
}
html{
	overflow: hidden;
}
body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: white;
}
.map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -999;
}

.menu {
	position: fixed;
	z-index: 2;
	right: -1rem;
	bottom: -1.5rem;
	width: 40px;
	height: 40px;
	transition: all 0.4s ease-in-out 0s;
}

.menu span {
	width: 40px;
	height: 40px;
	background: rgb(21,121,7);
	display: block;
	position: absolute;
	right: 25px;
	top: -46px;
	text-align: center;
	color: #fff;
	line-height: 40px;
	border-radius: 50%;
	font-size: 22px;
	z-index: 999;
}
.menu a {
	overflow: hidden;
	position: absolute;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	right: 25px;
	display: block;
	top: -46px;
	color: #fff;
	z-index: 99;
	font-size: 22px;
	transition: all .4s cubic-bezier(.68, 1, .265, 1)
}

.menu:after {
	overflow: hidden;
	height: 170px;
	width: 170px;
	content: '';
	background-color: rgb(21,121,7);
	position: absolute;
	top: -110px;
	right: -40px;
	border-radius: 50%;
	transform: scale(0);
	transition: all 0.3s ease-in-out 0s;
}
.menu.open span.menu-btn.fa-bars{
	background-color: rgb(17,97,5);
}

.open:after {
	overflow: hidden;
	transform: scale(1);
}

.menu.open a:nth-child(1) {
	transform: translate(10px, -60px);
}

.menu.open a:nth-child(2) {
	transform: translate(-30px, -52px);
}

.menu.open a:nth-child(3) {
	transform: translate(-57px, -20px);
}

.menu.open a:nth-child(4) {
	transform: translate(-57px, 20px);
}

.menu.open .fa-bars:before {
  content: "\f00d";
}
